// Purpose: Ignore files in the data directory
# Ignore all data-related files in the data directory
data/*.csv

# Ignore the Datasets directory inside the data directory
data/Datasets

# Ignore all zip files
*.zip